html {
  color: white;
}

.logo {
  width: 432px;
  height: 178px;
  background-image: url("./media/Logo.png");
}

#stopwatch {
  font-size: 62px;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(4, 181px);
  grid-gap: 32px;
  justify-content: center;
}

.card {
  width: 181px;
  height: 266px;
  cursor: pointer;
  background-size: contain;
  position: relative;
}
.card::before {
  z-index: 0;
  position: absolute;
  content: "";
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background-image: url("./media/card_glow.png");
  /* mix-blend-mode: soft-light; */
  left: -14px;
  top: -15px;
}

.card img { 
  display: none;
}

.card.flip img {
  display: block;
}

.card img, .card div {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.card.western:not(.flip) div {
  background-image: url("./media/backs/card_western.png");
}
.card.scifi:not(.flip) div {
  background-image: url("./media/backs/card_scifi.png");
}
.card.romance:not(.flip) div {
  background-image: url("./media/backs/card_romance.png");
}
.card.horror:not(.flip) div {
  background-image: url("./media/backs/card_horror.png");
}
.card.history:not(.flip) div {
  background-image: url("./media/backs/card_history.png");
}
.card.crime:not(.flip) div {
  background-image: url("./media/backs/card_crime.png");
}
.card.comedy:not(.flip) div {
  background-image: url("./media/backs/card_comedy.png");
}
.card.adventure:not(.flip) div {
  background-image: url("./media/backs/card_adventure.png");
}
.card.card.adventure:not(.flip) div {
  background-image: url("./media/backs/card_action.png");
}

.matched {
  background-color: green;
}

.flip {
  background-color: orange;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 34px 68px;
}

#refresh-game {
  width: 75px;
  height: 75px;
  background-image: url("../media/restart_icon.png");
  background-size: contain;
  background-color: unset;
  border: unset;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
}